@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/Poppins-Regular.woff2') format('woff2'),
       url('../webfonts/Poppins-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src:  url('../webfonts/Poppins-Medium.woff2') format('woff2'),
       url('../webfonts/Poppins-Medium.woff') format('woff'); 
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/Poppins-SemiBold.woff2') format('woff2'),
       url('../webfonts/Poppins-SemiBold.woff') format('woff'); 
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/Poppins-Bold.woff2') format('woff2'),
       url('../webfonts/Poppins-Bold.woff') format('woff'); 
}